# @package _global_

arch_name: act

# ====== Policy specific ======
num_latest_obs: 1
horizon: 20
deployed_action_steps: 1  # Note: change to ${horizon} if not using temporal ensemble
wd: 0.1
bs: 128

# ------ module ------
module:
  _target_: il_lib.policies.ACT
  prop_dim: 37
  prop_keys: 
    - odom/base_velocity
    - qpos/torso
    - qpos/left_arm
    - qpos/left_gripper
    - qpos/right_arm
    - qpos/right_gripper
    - eef/left_pos
    - eef/left_quat
    - eef/right_pos
    - eef/right_quat
  action_dim: 23
  action_keys: ${robot.action_keys}
  features: [proprioception, rgbd]
  obs_backbone:
    _target_: il_lib.nn.features.MultiviewResNet18
    views: 
    - robot_r1::robot_r1:left_realsense_link:Camera:0
    - robot_r1::robot_r1:right_realsense_link:Camera:0
    - robot_r1::robot_r1:zed_link:Camera:0
    resnet_output_dim: 512
    use_shared_backbone: true
    load_pretrained: true
    include_depth: true
    enable_random_crop: true
    random_crop_size: 224
    return_last_spatial_map: true
  pos_encoding:
    position_embedding: sine
    hidden_dim: ${module.hidden_dim}
  # policy
  num_queries: ${horizon}
  hidden_dim: 512
  dropout: 0.1
  n_heads: 8
  dim_feedforward: 3200
  num_encoder_layers: 4
  num_decoder_layers: 7
  pre_norm: false
  kl_weight: 10
  temporal_ensemble: true

data:
  use_action_chunks: false
  visual_obs_types: [rgb, depth_linear]
  use_task_info: false
